<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Claw sends your location to your openclaw server so it knows where you are.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Claw sends your location to your openclaw server in the background so it always knows where you are.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
        <string>remote-notification</string>
    </array>
</dict>
</plist>
