<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>ClawServerURL</key>
	<string>$(CLAW_SERVER_URL)</string>
	<key>ClawAPIToken</key>
	<string>$(CLAW_API_TOKEN)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Claw uses the microphone for voice commands to Larry.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Claw uses speech recognition to transcribe your voice commands.</string>
</dict>
</plist>
